UNOGui/Connected Services/JuegoUNOServicio/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNO.Dominio" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarJugador" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.Login" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarSala" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegistrarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugador" nillable="true" type="q1:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarRegistro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarClaveDeNuevo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarJugador" minOccurs="0" name="resultado" type="q2:ResultadoRegistro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claveValida" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCancelacionRegistro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarEnvioDeClave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UNO.Contratos.Login" minOccurs="0" name="resultado" type="q3:ResultadoLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarSala" minOccurs="0" name="nuevaSala" nillable="true" type="q4:Sala" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugador" nillable="true" type="q5:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseASala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarSala" minOccurs="0" name="salaAUnirse" nillable="true" type="q6:Sala" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugador" nillable="true" type="q7:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirDeSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCreacionDeSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarSala" minOccurs="0" name="salaCreada" nillable="true" type="q8:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUnionASala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarSala" minOccurs="0" name="resultado" type="q9:ResultadoUnionSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jugadores" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarClaveRecuperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarClaveRecuperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="infoJugador" nillable="true" type="q11:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarEnvioClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resultado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoVerificación">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resultado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoRecuperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recuperada" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>