UNOGui/Connected Services/JuegoUNOServicio/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNO.Dominio" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarJugador" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.Login" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegistrarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugador" nillable="true" type="q1:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarRegistro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarClaveDeNuevo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UNO.Contratos.AdministrarJugador" minOccurs="0" name="resultado" type="q2:ResultadoRegistro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claveValida" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCancelacionRegistro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarEnvioDeClave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarResultadoLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UNO.Contratos.Login" minOccurs="0" name="resultado" type="q3:ResultadoLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadoresTop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugadoresTop" nillable="true" type="q4:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformacionJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugador" nillable="true" type="q5:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="nuevaSala" nillable="true" type="q6:Sala" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugador" nillable="true" type="q7:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseASala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="salaAUnirse" nillable="true" type="q8:Sala" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugador" nillable="true" type="q9:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirDeSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColocarCartaCentral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="cartaCentral" nillable="true" type="q10:Carta" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="sala" nillable="true" type="q11:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TomarCarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="salaJugador" nillable="true" type="q12:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnunciarGanador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="salaJugador" nillable="true" type="q13:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarCreacionDeSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="salaCreada" nillable="true" type="q14:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarUnionASala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="resultado" type="q15:ResultadoUnionSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jugadores" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInformacionDeSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="sala" nillable="true" type="q17:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarNuevoJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="nuevoJugador" nillable="true" type="q18:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="jugadorASacar" nillable="true" type="q19:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarSalidaDeSala">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarEliminacionDeSala">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCreador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarInicioPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UNO.Contratos.LogicaJuego" minOccurs="0" name="sala" nillable="true" type="q20:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMazo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="mazoDeJugador" nillable="true" type="q21:ArrayOfCarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCartaCentral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="cartaCentral" nillable="true" type="q22:Carta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirCarta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UNO.Dominio" minOccurs="0" name="cartaTomada" nillable="true" type="q23:Carta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarGanador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jugadorGanador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>