UNOGui/Connected Services/JuegoUNOServicio/JuegoUNOServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JuegoUNOServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRegistrarJugador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ILogin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UNO.Dominio" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.RegistrarJugador" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UNO.Contratos.Login" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrarJugador_RegistrarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugador" />
  </wsdl:message>
  <wsdl:message name="IRegistrarJugador_VerificarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarClave" />
  </wsdl:message>
  <wsdl:message name="IRegistrarJugador_NotificarRegistro_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarRegistro" />
  </wsdl:message>
  <wsdl:message name="IRegistrarJugador_NotificarEnvioClave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarEnvioClave" />
  </wsdl:message>
  <wsdl:message name="ILogin_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="ILogin_NotificarResultadoLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarResultadoLogin" />
  </wsdl:message>
  <wsdl:portType name="IRegistrarJugador">
    <wsdl:operation name="RegistrarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrarJugador/RegistrarJugador" message="tns:IRegistrarJugador_RegistrarJugador_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarClave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrarJugador/VerificarClave" message="tns:IRegistrarJugador_VerificarClave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarRegistro">
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrarJugador/NotificarRegistro" message="tns:IRegistrarJugador_NotificarRegistro_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarEnvioClave">
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrarJugador/NotificarEnvioClave" message="tns:IRegistrarJugador_NotificarEnvioClave_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILogin">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/IniciarSesion" message="tns:ILogin_IniciarSesion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarResultadoLogin">
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/NotificarResultadoLogin" message="tns:ILogin_NotificarResultadoLogin_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IRegistrarJugador" type="tns:IRegistrarJugador">
    <wsp:PolicyReference URI="#NetTcpBinding_IRegistrarJugador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarJugador">
      <soap12:operation soapAction="http://tempuri.org/IRegistrarJugador/RegistrarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="VerificarClave">
      <soap12:operation soapAction="http://tempuri.org/IRegistrarJugador/VerificarClave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotificarRegistro">
      <soap12:operation soapAction="http://tempuri.org/IRegistrarJugador/NotificarRegistro" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarEnvioClave">
      <soap12:operation soapAction="http://tempuri.org/IRegistrarJugador/NotificarEnvioClave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILogin" type="tns:ILogin">
    <wsp:PolicyReference URI="#NetTcpBinding_ILogin_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/ILogin/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotificarResultadoLogin">
      <soap12:operation soapAction="http://tempuri.org/ILogin/NotificarResultadoLogin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JuegoUNOServicio">
    <wsdl:port name="NetTcpBinding_IRegistrarJugador" binding="tns:NetTcpBinding_IRegistrarJugador">
      <soap12:address location="net.tcp://localhost:8090/UNO.Contratos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/UNO.Contratos</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-SQIOU73F\Sammy</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILogin" binding="tns:NetTcpBinding_ILogin">
      <soap12:address location="net.tcp://localhost:8090/UNO.Contratos" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/UNO.Contratos</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-SQIOU73F\Sammy</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>